PORT=3000
POSTGRES_URL="postgresql://johndoe:testa@localhost/templateDBnode"
POSTGRES_USER=jonhdoe
POSTGRES_DB=templateDBnode
POSTGRES_PASSWORD=prueba
# POSTGRES_CONTAINER=POSTGRES_DB_CONTAINER
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_REDIRECT_URI=
FOLDER_ID=

PORT=3001
POSTGRES_URL='postgresql://prueba:prueba@localhost:5432/prueba'
POSTGRES_USER='prueba'
POSTGRES_DB='prueba'
POSTGRES_PASSWORD='prueba'
POSTGRES_DB_PORT='5432'
POSTGRES_DB_HOST='localhost'
MAILER_EMAIL='example@mail.com'
MAILER_SECRET_KEY='example'
MAILER_SERVICE='mail'

PROD=false
GOOGLE_CLIENT_ID=example
GOOGLE_CLIENT_SECRET=example
GOOGLE_REFRESH_TOKEN=example
GOOGLE_REDIRECT_URI=example
FOLDER_ID=example

JWT_SECRET=example
JWT_EXPIRATION=60

WEBSERVICE_URL="http://localhost:3000/api"

HTTP_CLIENT_ADAPTER="fetch"
