PORT=3000
POSTGRES_URL="postgresql://johndoe:testa@localhost/templateDBnode"
POSTGRES_USER=jonhdoe
POSTGRES_DB=templateDBnode
POSTGRES_PASSWORD=prueba
# POSTGRES_CONTAINER=POSTGRES_DB_CONTAINER
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_REDIRECT_URI=
FOLDER_ID=